
<div class="header">
    <div class="title">
        Gregslist
    </div>
    <ul>
        <li>Jobs</li>
        <li>Cars</li>
        <li>Houses</li>
    </ul>
</div>
<div class="body">
    
    
    <div class="grid-container">

        
        <div *ngFor="let len of length" class="card">
            <div>title</div>
            <div>subtitle</div>
            <div>image</div>
            <div>description</div>
            <div>price</div>
        </div>
    </div>
</div>
<div>
    Footer
</div>