/* You can add global styles to this file, and also import other style files */


$primary: #102542;
$secondary: #F87060;
$tertiary: #CDD7D6;
$accent: #B3A394;
$light: #f9f9f9;
$dark: #0e1111;
$shadow: #3a3a3a88;

body {
    margin: 0;
}